@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Moderustic:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #163950;
    font-family: moderustic;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header{
    background-color: white;
    font-family: goldman;
}

nav a:hover{
    color: white;
    background-color: #163950;
}

.msg{
    background-color: white;
    color: #0f5727;
    font-family: moderustic;
    font-size: 1.5em;
    padding: 35px;
    line-height: 1.5em;
}

.msg h2, .msg p{
    background-color: white;
    color: #0f5727;
    font-family: moderustic;
    font-size: .8em;
    padding-bottom: 15px;

}

#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: white;
}


nav a{
    text-align: center;
    color: #163950;
    text-decoration: none; 
    padding: 35px;
 }

.book,.join{

    background-color: #163950;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{

    background-color: white;
    color: #163950;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
    font-family: goldman;

}

.button-box{
    text-align: center;


}
main section{
    text-align: center;


}

footer{
    background-color: #163950;
    padding: 25px 50px;
    margin-top: 200px;
}

#background {
    height: 725px;
    background-color: #0f5727;
}

h4{
    color: #163950;
} 

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo{

    width: 80px;

}

#logo_link{

    padding-top: 5px;

}

footer p a{
    background-color: #163950;
    color: white;
    text-decoration: none;
}

footer p{
    font-size: 1.2em;
    color: white;

}

#hero-img{

    width: 100%;
} 
.home-title{

    color: #163950;
    font-family: goldman;
    font-size: 2em;
    margin-top: 10px;
}

footer p a:hover{
    text-decoration: underline;

}
footer:hover{
    color: #163950;
}
.social a{
    text-decoration: none;
}


main section h2{
    background-color: white;
    color: #0f5727;
}

.rivers-card, .camping-card, .rapids-card{

    margin: 200px 0;
}

.card-img {
    border: 10px solid #163950;
}

main section img{

    box-sizing: border-box;
}

footer .social image{

    padding-top: 15px;
}